* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
background-color: bisque;
}

.header1 {
  position:fixed;
 width: 1407px;
 background-color: #B95517;
 text-align: right;
 border: 5px solid #6D3B31;
 
   }
li{
  display: inline;
 margin: 20px;
 font-weight: 800;
}
 a {
  color:white;
  text-decoration: dashed;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  
  .listit{
    text-align: center;
              }
      
      img{
        border: 30px solid black;
        margin: 10px;
        padding: 40px;
        background-color: #966F33;
      }
.my{
  text-align: center;
  position: relative;
  left: 276px;
    background-color: crimson;
    width: 850px;
    box-shadow: 0px 41px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}
h2{
  text-align: center;
  background-color: aliceblue;
}
.box{
  text-align: center;
  margin: auto;
  padding: 40px;
  background-color: coral;
  
}
footer{
  text-align: center;
  background-color: brown;
}
