* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
background-color: bisque;
}

.header1 {
margin:0
  position:fixed;
 background-color: #B95517;
 text-align: right;
 border: 5px solid #6D3B31;
 
   }
li{
  display: inline;
 margin: 20px;
 font-weight: 800;
}
 a {
  color:white;
  text-decoration: dashed;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  
  .listit{
    text-align: center;
              }
      
      img{
        border: 30px solid black;
        margin: 10px;
        padding: 40px;
        background-color: #966F33;
      }
.my{
  
  text-align: center;
  position: absolute;
  left: 35px;
  right: 35px;
  display: block;
  margin:0;
}
h2{
  text-align: center;
  background-color: aliceblue;
}
.box{
  text-align: center;
  margin: auto;
  padding: 40px;
  background-color: coral;
  
}
footer{
  text-align: center;
  background-color: brown;
}
